*{
    
margin 0;
padding 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body {
    background-color: #ffffff
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    height: 100vh;
}